if SHIELD_ANOTHER_LEFT

config ZMK_KEYBOARD_NAME
    default "Another"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_ANOTHER_LEFT || SHIELD_ANOTHER_RIGHT

config ZMK_SPLIT
    default y

endif
